.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input__label {
  padding-bottom: 5px;
  display: inline-block;
  color: #8b8b8b;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input__input {
  display: inline-block;
  margin-bottom: 24px;
  border: 0;
  border-bottom: 1px solid #424242;
  padding-bottom: 9px;
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  color: #fff;
}


.input__input:focus {
  outline: none;
  border-radius: 4px;
  background-color: #3DDC84;
}

.input__input_type_email {
  font-weight: 500;
}

.input__input_type_password {
  color: #ee3465;
}

.input__error {
  display: none;
}

.input__error_visible {
  display: inline-block;
  position: absolute;
  top: 50px;
  min-height: 24px;
  color: #ee3465;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
