.main-movies {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.show-more {
  margin: 0;
  padding: 61px 0 105px 0;
  display: flex;
  align-self: center;
}

@media screen and (max-width: 900px) {
  .show-more {
    padding: 60px 0 137px 0;
  }
}

@media screen and (max-width: 700px) {
  .show-more {
    padding: 62px 0 156px 0;
  }
}

.show-more__button {
  width: 320px;
  text-align: center;
  margin: 0 auto;
  padding: 9px 0;
  border: 0;
  border-radius: 6px;
  color: #fff;
  background: #2f2f2f;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .show-more__button {
    width: 240px;
  }
}
