.profile {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile__section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  padding: 74px 0 70px;
  width: 410px;
}

@media screen and (max-width: 768px) {
  .profile__section{
    padding: 236px 0 269px;
  }
}

@media screen and (max-width: 450px) {
  .profile__section {
    padding: 70px 0 40px;
    width: 260px;
  }
}

.profile__hello {
  margin: 0;
  padding-bottom: 108px;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .profile__hello {
    padding-bottom: 81px;
  }
}

@media screen and (max-width: 400px) {
  .profile__hello {
    padding-bottom: 63px;
  }
}

.profile__inputs {
  display: flex;
  flex-direction: column;
}

.profile__container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.profile__input-container {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  font-style: normal;
  line-height: normal;
  color: #fff;
}

.profile__input-label {
  font-weight: 500;
  width: 120px;
}

.profile__input-input {
  flex-grow: 1;
  margin: 0;
  padding: 17px 0 16px;
  border: 0;
  background-color: transparent;
  text-align: right;
  font-weight: 400;
  cursor: pointer;
  color: #fff;
}

.profile__input-input:focus {
  outline: none;
  border-radius: 4px;
  background-color: #3ddc84;
}

@media screen and (max-width: 400px) {
  .profile__input-input {
    padding: 18px 0 16px;
  }
}

.profile__input-container:first-of-type {
  border: 0;
  border-bottom: 1px solid #424242;
}

.profile__bottom {
  width: 100%;
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 16px;
}

.profile__button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .profile__button {
    font-size: 12px;
  }
}

.profile__button-edit {
  color: #fff;
  font-weight: 400;
}

.profile__button-exit {
  color: #ee3465;
  font-weight: 500;
}

.profile__error {
  display: none;
}

.profile__error_visible {
  display: inline-block;
  position: absolute;
  top: 50px;
  min-height: 24px;
  color: #ee3465;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__error-on-server {
  display: none;
}

.profile__error-on-server_visible {
  display: inline-block;
  position: absolute;
  align-self: center;
  bottom: 130px;
  color: #ff004c;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
