.page-404 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page-404__section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 245px 0 60px;
  margin: 0 auto;
  align-items: center;
}

.page-404__404 {
  margin: 0 auto;
  padding-bottom: 5px;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.page-404__not-found {
  margin: 0 auto;
  display: flex;
  flex-grow: 1;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.page-404__back {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  color: #4285f4;
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .page-404__section {
    padding: 407px 0 222px;
  }
}

@media screen and (max-width: 400px) {
  .page-404__section {
    padding: 329px 0 30px;
  }

  .page-404__404 {
    padding-bottom: 10px;
    font-size: 80px;
  }

  .page-404__not-found {
    font-size: 12px;
  }

  .page-404__back {
    font-size: 12px;
  }
}
