.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
  padding: 0 70px;
  background-color: #202020;
}

.header.blue {
  background-color: #073042;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding: 0 14px;
  }
}

.header__burger {
  display: none;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  border: none;
  background-color: transparent;
  background-image: url('./../../images/diploma-burger-big.svg');
}

@media screen and (max-width: 768px) {
  .header__burger {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .header__burger {
    width: 40px;
    height: 43px;
    background-image: url('./../../images/diploma-burger-small.svg');
  }
}

.header__authorization {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 400px) {
  .header__authorization {
    gap: 15px;
  }
}

.header__registration {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

@media screen and (max-width: 400px) {
  .header__registration {
    font-size: 10px;
    line-height: 16px;
  }
}

.header__login {
  margin: 0;
  padding: 8px 20px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  color: #000;
  background-color: #3ddc84;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

@media screen and (max-width: 400px) {
  .header__login {
    padding: 4px 12px;
    font-size: 10px;
    line-height: 16px;
  }
}
